/* Variables */
@charset 'UTF-8';

/// @group    Configurações

$colors: (
  primary: (
    darken: #242658,
    darker: #3b4a9b,
    base: #00ade7,
  ),
  secondary: (
    base: #ac1a88,
  ),
  tertiary: (
    base: #d4dd3f,
  ),
  light: (
    base: #ffffff,
  ),
  dark: (
    base: #000000,
  ),
  danger      : #f85757,
  success     : #00b412,
  warning     : #fed82b,

) !default;

/// @group    Fontes

@font-face {
  font-family: 'RuyFont';
  src: url('../fonts/RuyFont.eot');
  src: url('../fonts/RuyFont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/RuyFont.woff2') format('woff2'), 
       url('../fonts/RuyFont.woff') format('woff'), 
       url('../fonts/RuyFont.svg#RuyFont') format('svg');  
  font-style: normal;
  font-stretch: normal;
}

$font-config: (
  thin: (
    name: Montserrat,
    weight: 100
  ),
  light: (
    name: Montserrat,
    weight: 300
  ),
  base: (
    name: Montserrat,
    weight: 400
  ),
  bold: (
    name: Montserrat,
    weight: 700
  ),
  black: (
    name: Montserrat,
    weight: 900
  ),
  ruy: (
    name: RuyFont,
    weight: 950
  )
) !default;

$font-fallback: Tahoma, Verdana, Segoe, sans-serif !default;

/// @group    Fontes
$font-sizes: (
  xxbig		  :	  64px,
  xbig		  :	  24px,
  big		    :	  22px,
  large		  :	  18px,
  medium		:	  16px,
  normal		:	  14px,
  small		  :	  12px,
) !default;

/// @group    Breakpoints
$breakpoints: (
  xsmall  : 375px,
  small   : 641px,
  medium  : 769px,
  large   : 1200px,
  xlarge  : 1321px,
  xxlarge : 1921px
) !default;

/// @group Spaces
$spaces: (
  s       :     4px,
  p       :     8px,
  base    :     16px,
  m       :     24px,
  g       :     32px,
  gg      :     48px,
  xg      :     56px
) !default;
